.container {
    border:0;
    margin:0;
    width:100%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*using the flexbox with sections is problematic*/
}

.header{
    background-color: #fff;
    height:100px;
    padding-top: 50px;
    
}


.trend_1{
    display:block;
    background-color: #dcebf3;
    height:300px;

}

.trend_2{
    display:none;
    background-color: #dcebf3;
    height:300px;
}

.trend_3{
    display:none;
    background-color: #dcebf3;
    height:300px;
}

.line_Am {
    background-color: #dcebf3;
    height:300px;
    
}

.plot_Am {
    
    background-color: #dcebf3;
    height:300px;
    
}
.line_Cr {
    background-color: #dcebf3;
    height:300px;
    
}

.plot_Cr {
    
    background-color: #dcebf3;
    height:300px;
    
}

.temp_Am {
    background-color: #dcebf3;
    height:300px;
    overflow: scroll;
    
}

.temp_Cr{
    background-color: #dcebf3;
    height:300px;
    overflow: scroll;
    
}

/*Styling the table*/

td, th {
    padding: 1px 4px;
    border: 1px black solid;
}

/*styling the buttons*/

.btn_1 {
    /*background-color: #f5bdbd;*/
   

}
.btn_2 {
    /*background-color: #a3a3e6;*/
    
 }

.btn_3 {
    /*background-color: #fbfb88;*/
 
}

.summary_box_1 {
    background-color: #f1f19e;
    height:300px;
}
.summary_box_2 {
    background-color: #f1f19e;
    height:300px;
}

.summary_detail {
    display: block;
    height:100px;
    width:100px;
}
